<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
        <div class='comment_flame'>
          <p><%= comment.content %></p>
          <%= comment.user.name %>
          <% if current_user == comment.user %>
            <%= link_to "編集", edit_pair_task_comment_path(task.pair, task, comment), remote: true, class: "btn btn-outline-secondary btn-sm" %>
            <%= link_to "削除", pair_task_comment_path(task.pair.id, comment.task_id, comment.id), method: :delete, remote: true , class: "btn btn-outline-secondary btn-sm"%>
          <% end %>
        </div>
    <% end %>
  <% end %>
</ul>