<%= form_with(model: @pair, local: true) do |f| %>
  <div>
    <%= f.label :挙式日 %>
    <%= f.date_select :weddingday_on %>
  </div>
  <div>
    <%= f.label :挙式季節 %>
    <%= f.select :season, Pair.seasons.keys.to_a, {} %>
  </div>
  <%= f.submit %>
<% end %>

