<div class='tasks_list'> 
  <div class='container'>
    <% if @pair.approval_ids.blank? && @pair.assigns.size == 1 %>
      <p class='approval_guide'>
        <%= link_to 'ペア招待の承認が却下されました。一度ペア情報を削除し、再度新しいペアを作成して下さい。', edit_pair_path(@pair), class: "btn btn-outline-secondary" %>
      </p>
    <% end %>
  </div>
  <div class='pair_infomation'>
    <% if @pair.assigns.count == 2 %>
      <% @pair.assigns.each_with_index do |pair, index| %>
        <% if index == 0 %>
          <%= image_tag pair.user.icon.url, class: "task_icon", size: '40x40' %>
          <p class='first_user'><%= pair.user.name %> ＆ </p>
        <% else %>
          <%= pair.user.name %>
          <%= image_tag pair.user.icon.url, class: "task_icon", size: '40x40' %>
        <% end %>
      <% end %>
    <% elsif @pair.approvals %>
      <%= image_tag @pair.owner.icon.url, class: "task_icon", size: '40x40' %>
          <%= @pair.owner.name %> ＆ ペア招待の承認待ち</p>
    <% end %>
    
    <div class='weddingday_on_pair'>
      <%= @pair.weddingday_on %><i class="material-icons pair">favorite_border</i>
    </div>
    <div>
      <% if @count <= 0 %>
        <p class='pair_count'>結婚式まであと0日</p>
      <% else %>
        <p class='pair_count'>結婚式まであと<%= @count %>日</p>
      <% end %>
    </div>
    <%= link_to t('views.pairs.edit'), edit_pair_path(@pair.id), class: "btn btn-outline-secondary btn-sm"%>
  </div>

  <h4><%= t('views.tasks.todo') %></h4>
    <%= link_to t('views.tasks.create'), new_pair_task_path(@pair.id), class: "btn btn-outline-secondary" %>

  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <%= link_to t('views.tasks.sort_expired'), pair_path(@pair, sort_expired: "true"), class: "nav-link active " %>
    </li>
    <li class="nav-item">
      <%= link_to t('views.tasks.sort_status'), pair_path(@pair, sort_status: "true"), class: "nav-link active" %>
    </li>
  </ul>

  <table class='table'>
    <thead>
      <tr>
        <th><%= t('views.users.name') %></th>
        <th><%= t('views.tasks.title') %></th>
        <th><%= t('views.tasks.expired_on') %></th>
        <th><%= t('views.tasks.status') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class="task_row">
          <td><%= task.user.name %></td>
          <td><%= task.title %></td>
          <td><%= task.expired_on %></td>
          <td><%= task.status_i18n %></td>
    
          <td><%= link_to t('views.btn.show'), pair_task_path(@pair, task), class: "btn btn-outline-secondary btn-sm" %>
          <%= link_to t('views.btn.edit'), edit_pair_task_path(@pair, task), class: "btn btn-outline-secondary btn-sm" %>
          <%= link_to t('views.btn.delete'), pair_task_path(@pair, task), method: :delete, data: { confirm: "本当によろしいですか?"},class: "btn btn-outline-secondary btn-sm" %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>      

