<div class="favoritespage">
  <div class='user_infomation'>
    <h3 class='user_title'>MyPage</h3>
    <%= image_tag @user.icon.url , class: "icon"%>
    <p class="profile_name">Name : <%= @user.name %></p>
    <div>
      <%= link_to 'プロフィール編集', edit_user_registration_path, class:"btn btn-outline-secondary btn-sm" %>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "MyPost", user_path(@user), class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "FavoritePosts", favorites_user_path(@user), class: "nav-link active" %>
    </li>
  </ul>

  <div class="favorites_wrapper">
    <% @favorites.each do |list| %> 
      <div class='favorites_list'>
        <div>  
          <%= image_tag list.image.url %>
        </div>
        <div>
          <%= list.content %>
        </div>
        <div class='favorite_name'>
          <%= list.user.name %>
        </div>
        <div class='post_last'>
          <div class='favorite_category'>
            <p>category:<%= list.category_i18n %></p>
          </div>
          <div>
            <p>season:<%= list.user.assign.pair.season_i18n if list.user.assign %></p>
          </div> 
          <div class='favorite_date'>
            <%= l list.created_at, format: :short  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

