<div class="favorite_page">
  <h3><%= current_user.name %>のマイページ</h3>

  <%= image_tag current_user.icon.url , class: "image"%>
  <p class="mail">メールアドレス : <%= current_user.email %></p>
  <div class="edit">
    <%= link_to 'プロフィール編集', edit_user_registration_path, class:"btn btn-outline-secondary btn-sm" %>
  </div>


  <div class="favorites">
    <% @favorites.each do |list| %> 
      <%= list.user.name %>
      <%= list.content %>
      <%= image_tag(list.image.url) if list.image && list.image.url  %>
      <%= list.category %>
    <% end %>
  </div>
</div>

<%= link_to "プロフィールへ戻る", user_path(current_user.id) %>