<div class="mypage">
  <div class='introduce'>
    <h3><%= @user.name %>のマイページ</h3>
    <%= image_tag @user.icon.url , class: "image"%>
    <p class="mail">メールアドレス : <%= @user.email %></p>
    <div>
      <%= link_to 'プロフィール編集', edit_user_registration_path, class:"btn btn-outline-secondary btn-sm" %>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "MyPost", user_path(@user), class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "FavoritePosts", favorites_user_path(@user), class: "nav-link active" %>
    </li>
  </ul>

  <div class="mypost_wrapper">
    <% @user.posts.each do |post| %>
      <div class='mypost_list'>
        <div>
          <%= image_tag post.image.url %>
        </div>
        <div>
          <%= post.content %>
        </div>
        <div>
          <%= post.user.assign.pair.season_i18n if post.user.assign %>
        </div>      
        <div class='post_name'>
          <%= post.user.name %>
        </div>
        <div class='post_last'>
          <div class='post_category'>
            <p>category:<%= post.category_i18n %></p>
          </div>
          <%= l post.created_at, format: :short %>
          <% if user_signed_in? && current_user == post.user %>
            <%= link_to '編集', edit_post_path(post.id), class:"edit btn btn-outline-secondary btn-sm"%>
            <%= link_to '削除', post_path(post.id), method: :delete, class:"edit btn btn-outline-secondary btn-sm" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>