<div class="mypage">
  <div class='user_infomation'>
    <h3>MyPage</h3>
    <%= image_tag @user.icon.url , class: "icon"%>
    <p class="profile_name">Name : <%= @user.name %></p>
    <div>
      <%= link_to 'プロフィール編集', edit_user_registration_path, class:"btn btn-outline-secondary btn-sm" %>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "MyPost", user_path(@user), class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "FavoritePosts", favorites_user_path(@user), class: "nav-link active" %>
    </li>
  </ul>

  <div class="mypost_wrapper">
    <% @user.posts.each do |post| %>
      <div class='mypost_list'>
        <div>
          <%= image_tag post.image.url %>
        </div>

        <%= link_to edit_post_path(post.id), method: :get do %>
          <i class="material-icons edit-btn">edit</i>
        <% end %>
        <%= link_to post_path(post.id), method: :delete do %>
          <i class="material-icons delete-btn">delete</i>
        <% end %>
        <%= post.user.name %>
        <div>
          <%= post.content %>
        </div>   
        <div class='post_last'>
          <div>
            <span class="category">
              <%= post.category_i18n %>
            </span>
            <% if post.user.assign %>
              <span class="<%= post.user.assign.pair.season %>">
                <%= post.user.assign.pair.season_i18n %>
              </span>
            <% end %>
          </div>
          <%= l post.created_at, format: :short %>
        </div>
      </div>
    <% end %>
  </div>
</div>