<div class="jumbotron jumbotron-fluid">
  <div class="home container">
  <h1 class="display-4">Wedding × management</h1>
  </div>
</div>
<div class="explain">
  <div class='WDmanage_guide'>
    <h3 class='WDmanage'>Wedding managementとは</h3>
    <h5>結婚式を控えるカップルや夫婦のためのタスク管理サービスです。</h5>
  </div>
  <div class='home_image'>
    <%= image_tag 'home1.png' %>
  </div>
  <div class='home_image'>
    <%= image_tag 'home2.png' %>
  </div>
  <div class='home_image'>
    <%= image_tag 'home3.png' %>
  </div>
  <div class='home_image'>
    <%= image_tag 'home4.png' %>
  </div>
  <% unless user_signed_in? %>
    <div class='home_btn'>
      <p class='home_guide'>＼Please from here!／</p>
      <%= link_to t('views.nav.sign_up'), new_user_registration_path, class: "btn btn-outline-secondary  btn-block" %>
      <%= link_to t('views.nav.login'), new_user_session_path, class: "btn btn-outline-secondary  btn-block" %>
    </div>
  <% end %>
</div>