<%= form_with(model: @post, local: true) do |f| %>
  <div class='form-group'>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= @post.errors.count %>件のエラーがあります。</h2>
        <ul>

        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="post_content">
      <%= f.label :content %>
      <%= f.text_area :content, class:'form-control' %>
    </div>
    <div class="post_image">
      <%= f.label :image %>
      <br><%= f.file_field :image %></br>
    </div>
    <div class="post_category">
      <%= f.label :category %>
      <%= f.select :category, Post.categories_i18n.invert,{}, class:'form-control status' %>
    </div>
    <%= f.submit class:"post-btn btn btn-outline-secondary btn-md" %>

    <%= link_to '投稿一覧画面に戻る', posts_path ,class:"task-btn btn btn-outline-secondary btn-md" %>

  </div>
<% end %>