<table>
  <tr>
    <td><%= post.user.name %></td>
    <td><%= post.content %></td>
    <% if user_signed_in? && current_user != post.user %>
      <% if current_user.favorite_find(post.id) %>
        <td><%= link_to 'お気に入りからはずす', destroy_favorite_path(post.id), method: :delete, remote: true %></td>
      <% else %>
        <td><%= link_to 'お気に入り登録する', create_favorite_path(post.id), method: :post, remote: true %></td>
      <% end %>
    <% end %>
    <% if user_signed_in? && current_user == post.user %>
      <td><%= link_to '詳細', post_path(post.id) %></td>
      <td><%= link_to '編集', edit_post_path(post.id) %></td>
      <td><%= link_to '削除', post_path(post.id), method: :delete %></td>
    <% end %>
  </tr>
</table>