<div>
  <%= image_tag post.image.url if post.image && post.image.url %>
</div>
<% if user_signed_in? && current_user != post.user %>
  <% if current_user.favorite_find(post.id) %> 
      <%= link_to destroy_favorite_path(post.id), class:'notfavorite_icon', method: :delete, remote: true do %>
        <i class="material-icons notfavorite-btn">favorite</i>
      <% end %>
  <% else %>      
      <%= link_to create_favorite_path(post.id), class:'favorite_icon', method: :post, remote: true do %>
        <i class="material-icons favorite-btn">favorite_border</i>
      <% end %>      
  <% end %>
<% elsif user_signed_in? && current_user == post.user %>
    <%= link_to edit_post_path(post.id), class:'edit_icon', method: :get do %>
      <i class="material-icons edit-btn">edit</i>
    <% end %>
    <%= link_to post_path(post.id) ,class:'delete_icon', method: :delete do %>
      <i class="material-icons delete-btn">delete</i>
    <% end %>
<% end %>
<div class='post_user_icon'>
  <%= link_to post.user.name, posts_path(q:{user_name_eq: post.user.name}), class:'post_user' %>
  <%= image_tag post.user.icon.url, class: "post_icon", size: '30x30' %>
</div>
<div class="overflow-auto" style="height:100px;">
  <%= post.content %>
</div>
<div class='post_last'>
  <div class='post_tag'>
    <span class="category"><%= link_to post.category_i18n, posts_path(q:{category_eq: post.category_before_type_cast}),class:'category_tag' %></span>
    <% if post.user.assign %>
      <span class="<%= post.user.assign.pair.season %>"><%= link_to post.user.assign.pair.season_i18n, posts_path(q:{user_assign_pair_season_eq: post.user.assign.pair.season_before_type_cast}), class: post.user.assign.pair.season %></span>
    <% end %>
  </div>
  <%= l post.created_at, format: :short %>
</div>
