<div class="favorite_page">
  <h2><%= current_user.name %>お気に入り一覧</h2>

  <div class="favorites">
    <% @favorites.each do |list| %> 
      <%= list.user.name %>
      <%= list.content %>
      <%= image_tag(list.image.url) if list.image && list.image.url  %>
      <%= list.category %>
    <% end %>
  </div>
</div>

<%= link_to "プロフィールへ戻る", user_path(current_user.id) %>